.RestaurantList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 2rem;
}

@media (min-width: 1200px) {
    .RestaurantList {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}
