.Login {
    width: 50%;
    margin: 0 auto;
    padding: 10%;
}

.InputElement {
    width: 100%;
    display: block;
    min-height: 1rem;
    height: 5rem;
    padding: 1rem;
    font-family: inherit;
    font-size: 1.4rem;
    color: #777;
    border: none;
    border-radius: 1px;
    position: relative;
    font-weight: 300;
    background-color: rgba(255, 250, 240, 0.808);
    border-radius: 5px;
    margin-bottom: 0.2rem;
}

.InputElement:focus {
    outline: none;
}

.Login label {
    display: block;
    margin-bottom: 1rem;
    padding-left: .5rem;
    font-size: 1.2rem;
    transition: all .2s ease;
    letter-spacing: .8px;
    color: floralwhite;
    font-weight: 400;
}

.InputElement:placeholder-shown + label {
    opacity: 0;
    visibility: none;
    transform: translateY(-5px);
}

.Login button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5rem;
    background-color: rgba(255, 250, 240, 0.808);
    border-radius: 5px;
    font-size: 1.4rem;
    color: floralwhite;
    text-transform: uppercase;
    background-color: #e67e22;
    border: none;
    margin-bottom: 1rem;
    position: relative;
}

.Login button:disabled {
    background-color: #bdc3c7;
    color: #777;
}

.errorMessage {
    color: floralwhite;
    font-size: 1.2rem;
}