* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.6rem;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body::-webkit-scrollbar {
  display: none;
}

h2 {
  font-size: 3.2rem;
  font-weight: 500;
  color: floralwhite;
  margin-bottom: 2rem;
}

button {
  cursor: pointer;
  border: none;
}

button:focus {
  outline: none;
}

button:disabled {
  cursor: not-allowed;
}